.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #dfe7f2;
  padding: 10px 5px;
}

.nav svg {
  color: #000;
  width: 100%;
  height: 1rem;
}

.icons {
  display: flex;

  /* margin: 1rem 0; */
  width: 4rem;
}

.logo {
  height: 4rem;
}

@media (max-width: 360px) {
  .nav {
    flex-direction: row;
    align-items: baseline;
  }

  .logo {
    height: 2rem;
  }
}

@media (max-width: 481px) {
  .nav {
    flex-direction: row;
    align-items: baseline;
  }

  .logo {
    height: 3rem;
  }
}
