.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.item {
  width: 320px; 
  min-height: 200px;
  margin: 0.5rem;
  transition: all 0.4s;
  border: 1px solid black;
}

.item div {
  margin: 0.4rem;
}

.item div h2 {
  color: var(--primary);
  font-size: 1.3rem;
}

.item div h3 {
  color: var(--secondary);
}

span {
  color: var(--tertiary);
}

.firstDiv {
  display: flex;
  justify-content: space-between;
}

.image {
  width: 80px;
  height: auto;
}

.loader {
  margin: 4rem auto 0 auto;
  border: 16px solid #f3f3f3;
  border-top: 16px solid var(--primary);
  border-radius: 50%;
  width: 7.5rem;
  height: 7.5rem;
  animation: spin 2s linear infinite;
  }
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


 @media screen and (min-width: 460px) {

  .item {
    min-width: 200px; 
    min-height: 200px;
  }

  .image {
    width: 100px;
    height: 70px;
  }
}

@media screen and (min-width: 570px) {

  .item {
    width: 240px; 
    min-height: 200px;
  }

  .image {
    width: 80px;
    height: 60px;
  }
} 