@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

:root {
  --primary: #31585a;
  --secondary: #52b3b8;
  --tertiary: #19b319;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background: hsl(0, 0%, 90%);
  font-family: 'Montserrat', sans-serif;
}
